body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: #39FF14;
    text-align: left;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    margin: 0px;
}

.header div {
    padding-top: 15px;
    margin-right: 0px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: disc;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a.nav-link:link, 
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
    color: #39FF14;
    text-decoration: none;
}

h2 {
    display: block;
    font-size: 1.5em;
    text-decoration: underline;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section {
    margin: 0px;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(144deg, #fdbb2d 25%, #000508 25%, #000508 50%, #f5bb3f 50%, #f5bb3f 75%, #000508 75%, #000508 100%);
    background-size: 34.03px 24.72px;
}

.row {
    padding-left: 10px;
} 

.col {
    padding: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.welcome {
    padding: 20px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-shadow: darkgrey 5px 0px;
    text-decoration: underline;
}

.p2 {
    text-indent: 24px;
    display: flex;
    padding: 70px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.Bio {
    display: flex;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    color: black;
}

#carouselExampleCaptions {
    max-width: 800px;
    max-height: 400px;
}

.link1 {
    color:black;
    text-decoration: bold;
}

.text1 {
    color: yellow;
}

.link2 {
    color:yellow;
}

.text2 {
    color: yellow;
}

.link3 {
    color:orange
}

.text3 {
    color:orange
}

#image {
    max-height: 400px;
}

aside {
    float: right;
}

.resume {
    display: flex;
    padding: 20px;
    font-size: 20px;
    color: black;
}

a.resume-link:link, 
a.resume-link:visited, 
a.resume-link:hover, 
a.resume-link:active {
    text-decoration: none;
    color: yellow;
}

input,
button {
    background-color: black;
    flex: none;
    width: 200px;
    margin: 10px;
    padding: 10px;
    color: #39FF14;
}

.contact {
    display: inline-block;
    background-color: black;
    padding: 10px;
    width: 200px;
    margin: 10px;
    text-align: center;
    color:#39FF14;
} 

footer {
    display: inline-block;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: underline;
}

.thankYou {
    padding-left: 40px;
}

a[href$='.css']::after {
    content: '❤️';
    display: inline-block;
    margin-left: 3px;
}

@media screen and (max-width: 800px) {
    .header, .body, .row {
        display: flex;
        flex-direction: column;
    }

    .image1, .image3 {
        width: auto;
        height: auto;
    }

    .image2 {
        width: auto;
        height: auto;
    }
  
    body {
      max-width: 1200px;
    }

    .Projects {
        padding-right: 30px;
    }

    .card1, .card2, .card3 {
        float: left;
        width: 100%;
    }

    aside {
        float: right;
        width: 28%;
    }
}
  